<p>Сәлеметсіз бе, <%= @user.name %>!</p>
<p>Бұл хат сіздің аккаунтыңызды тіркеу үшін қайта жіберілді</p>
<p>Тіркелуді аяқтау үшін төмендегі сілтеме бойынша өтуіңізді сұраймыз</p>
<p><%= confirm_email_home_url(@user.confirm_token) %></p>