<div class="container">
    <div class="row">
        <div class="col-12 mt-2">
            <h3 class="h3">Произошла ошибка, попробуйте обновить данную страницу или вернуться на предыдущую</h3>
        </div>
    </div>
</div>