<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <h1 class="h1"><b>Кто мы и чем занимаемся?</b></h1>
            <p class="text-justify mediationArticle">Приоритетной задачей частного учреждения «Институт разрешения конфликтов и медиации», вытекающей из предмета его деятельности, является содействие распространению медиативной практики и консолидация сообщества медиаторов.</p>

            <p class="text-justify mediationArticle">В этой связи, мы выражаем надежду, что научные исследования в области альтернативного разрешения споров (конфликтов) и сотрудничество по распространению, расширению примирительных процедур с использованием медиации с аналогичными центрами станут фундаментом для обсуждения проблем медиации и альтернативного разрешения споров сообществами медиаторов, представителями дисциплин, рассматривающих проблемы конфликтов и различных способов их урегулирования, а результатом этой работы станет снижение конфликтности в обществе и государстве в целом.</p>
            <p class="text-justify mediationArticle">Помимо того, наш Институт предлагает всем прогрессивным, живущим в ногу со временем людям получить профессию будущего – медиатора (профессионального переговорщика, посредника между спорящими сторонами, хранителя мира).</p>
            <p class="text-justify mediationArticle">Окончив «Общий курс медиации» медиатор получает:</p>
            <ul class="text-justify">
                <li>право осуществлять практическую медиаторскую (примирительную) деятельность на всей территории Республики Казахстан;</li>
                <li>сертификат профессионального медиатора;</li>
                <li>удостоверение медиатора;</li>
            </ul>
            <p class="text-justify mediationArticle">Данные профессионального медиатора заносятся в Интернет-реестр сайта Института и доступны для каждого пользователя Сети.</p>
            <p class="text-justify mediationArticle">Курсы медиаторов ведут квалифицированные тренеры-медиаторы Института.</p>
            <p class="text-justify mediationArticle">Заявки для участия в курсах можно направлять на электронный адрес:</p>
            <p class="text-justify mediationArticle">e-mail: <a href="mailto:institut.mediacii@mail.ru" class="text-success">institut.mediacii@mail.ru,</a></p>
            <p class="text-justify mediationArticle">а также позвонив по телефонам: <b>8-702-2015-113, 8-776-5267-253</b> (whatsapp, telegram)
        </div>
        <div class="col-md-4">
            <h1 class="h1"><b>Новости</b></h1>
            <% @articles.each do |article| %>
                <p>
                    <span><%= Date.parse(article.created_at.to_s).strftime("%d.%m.%Y") %></span><br>
                    <a href="/news/<%= article.id %>" class="text-success"><b><%= article.header %></b></a>
                </p>
            <% end %>
        </div>
    </div>
</div>