<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="h1"><b>Курсы медиаторов, тренинги</b></h1>
            <p class="mt-3 text-justify mediationArticle">На сегодняшний день проблема поиска эффективных способов разрешения различного рода споров (конфликтов) приобрела особую актуальность во всем мире. В этой связи широкое использование альтернативных способов разрешения споров и в т.ч. медиации, как наиболее эффективного инструмента урегулирования споров (конфликтов) продиктовано, прежде всего, недостатками судебной практики, потребностями общества. Кроме того, применение медиации оказывает положительное воздействие на развитие деловой активности и создает благоприятный инвестиционный климат в Республике Казахстан.</p>
            <p class="mt-3 text-justify mediationArticle">В условиях современного общества именно медиативное соглашение становится наилучшим способом примирения тяжущихся сторон. Заключение сторонами спора такого соглашения сэкономит время, средства, и, что, немаловажно, позволит сохранить между ними добрые партнерские отношения.</p>
            <p class="mt-3 text-justify mediationArticle">В этой связи, ЧУ «Институт разрешения конфликтов и медиации», занимающийся исследованием природы споров (конфликтов) и поиском путей их разрешения, предлагает каждому желающему пройти у нас обучающие курсы, тренинги, семинары, в результате которых повысится не только квалификация, профессионализм обучившегося, но и откроются новые горизонты возможностей, идей.</p>
            <p class="mt-3 text-justify mediationArticle">Договор о сотрудничестве, заключенный с нашим Институтом, одинаково приемлем как для юридических лиц и индивидуальных предпринимателей, так и для граждан. Своим клиентам мы гарантируем:</p>
            <ul class="mt-3 text-justify">
                <li>индивидуальный подход к каждому потенциальному обучающемуся исходя из его режима работы;</li>
                <li>постоянную информационную поддержку;</li>
                <li>гибкую систему скидок, бонусов;</li>
                <li>возможность получения дополнительных теоретико-практических навыков;</li>
                <li>и многое другое;</li>
            </ul>
            <p class="mt-3 text-justify mediationArticle">Помимо предусмотренных законодательством Республики Казахстан курсов подготовки медиаторов, Институт проводит и иные обучающие семинары и тренинги по медиации, в частности, на темы:</p>
            <ul class="mt-3 text-justify">
                <li>Альтернативное разрешение споров и медиация;</li>
                <li>Информационно-просветительская деятельность, направленная на развитие медиативной практики;</li>
                <li>Продвижение медиации в Казахстане;</li>
                <li>Искусство вести переговоры;</li>
                <li>Медиация в социальной сфере;</li>
                <li>Медиация в детской среде, в том числе с детьми, совершившими правонарушения;</li>
                <li>Медиация и право;</li>
                <li>Медиация в деловых отношениях;</li>
                <li>Медиация в религиозных отношениях;</li>
                <li>Семейная медиация.</li>
            </ul>
            <p class="mt-3 text-justify mediationArticle">Данный перечень не является исчерпывающим. В связи с чем, по желанию заказчика Институт рассмотрит любые заявки на проведение курсов, тренингов, семинаров, связанных с интеграцией и продвижением медиации в Республике Казахстан.</p>
            <p class="mt-3 text-justify mediationArticle">Кроме того, Институт осуществляет медиативное сопровождение договорных проектов, оказывает содействие компаниям в формировании комплексной системы предупреждения и эффективного разрешения споров, а также предоставляет широкий спектр юридических услуг.</p>
            <p class="mt-3 text-justify mediationArticle">Курсы, семинары и тренинги проводятся на государственном и русском языках. Тренерами являются юристы-медиаторы – практики, имеющие обширный теоретическо-практический опыт в области права, бизнеса, психологии и других сфер.</p>
            <p class="mt-3 text-justify mediationArticle">Институт организовывает обучение слушателей посредством своей материально-технической базы. По желанию заказчика могут быть организованы выездные курсы.</p>
            <p class="mt-3 text-justify mediationArticle">Обучение проходит в формате контактных теоретических и практических занятий, сопровождающихся аудио- и видео-материалами, иными современными методиками обучения. По завершению любого из курсов обучения выдается бессрочный сертификат.</p>
            <p class="mt-3 text-justify mediationArticle">Лица, обучившиеся по программе «Общий курс медиации» получают право заниматься медиаторской (примирительной) деятельностью на всей территории Республики Казахстан.</p>
            <p class="mt-3 text-justify mediationArticle">В стоимость обучения также входит раздаточный материал, сертификат, удостоверение медиатора, кофе-брэйки.</p>
        </div>
    </div>
</div>