<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="h1"><b>Кодекс этики медиатора</b></h1>
            <h4 class="h4 mt-3"><b>Кодекс профессиональной этики медиаторов ЧУ «Институт разрешения конфликтов и медиации»</b></h4>
            <h5 class="h5 mt-2"><b>Введение</b></h5>
            <p class="mt-3 text-justify mediationArticle">Кодекс профессиональной этики медиаторов (далее – Кодекс) устанавливает обязательные для каждого медиатора Партнерства правила поведения при проведении процедуры медиации, основанные на нравственных критериях, целях и задачах медиативного урегулирования споров.</p>
            <p class="mt-3 text-justify mediationArticle">Эти правила должны служить фундаментальным путеводителем для лиц, которые занимаются медиацией в какой-нибудь сфере. Стандарты, прописанные в этих правилах должны:</p>
            <ul class="mt-3 text-justify">
                <li>служить путеводителем для поведения медиаторов;</li>
                <li>служить источником информации для сторон спора;</li>
                <li>повышать публичное доверие к медиации как эффективного средства решения споров.</li>
            </ul>
            <h5 class="h5 mt-2"><b>1. Самоопределение</b></h5>
            <p class="mt-3 text-justify mediationArticle">Медиатор должен признавать, что процесс медиации базируется на принципе самоопределения сторон.</p>
            <p class="mt-3 text-justify mediationArticle">Самоопределение – фундаментальный принцип медиации. Он требует, чтобы процесс медиации опирался на способность сторон достичь добровольного, взаимоприемлемого решения. Какая-нибудь сторона может отказаться от медиации в любое время.</p>
            <p class="mt-3 text-justify mediationArticle">Самоопределение – процесс прихода к добровольному, не под давлением решения, в котором каждая сторона делает свой собственный и взвешенный выбор относительно правил процесса и его последствий. Стороны могут использовать принцип самоопределения на каком-нибудь этапе медиации, включая избрание медиатора, избрания правил проведения процедуры, участия или отказа от участия и собственно результатов.</p>
            <ol class="mt-3 text-justify">
                <li>Хотя принцип самоопределения сторон применяем и относительно определения правил самой процедуры медиации, медиатор должен балансировать между этим правом сторон и его обязанностью проводить данную процедуру качественно, в соответствии с данным Кодексом.</li>
                <li>Медиатор не имеет возможности лично удостовериться в том, что каждая из сторон делает свободный и взвешенный выбор, поэтому в случаях, где это возможно, является целесообразным разъяснить сторонам важность консультирования с профессионалами, которые бы помогли сторонам сделать взвешенный выбор.</li>
            </ol>
            <p class="mt-3 text-justify mediationArticle">Стандарты этих правил должны быть применены во всех видах медиации. Однако в определенных случаях на их применение могут влиять законы или договоренность между сторонами.</p>
            <h5 class="h5 mt-2"><b>2. Беспристрастность, нейтральность</b></h5>
            <p class="mt-3 text-justify mediationArticle">Медиатор не должен действовать, или, начав работу, должен приостановить деятельность, при обнаружении обстоятельств, которые могут повлиять на его независимость или вызвать конфликт интересов. Обязанность выявления таких обстоятельств является непременной обязанностью медиатора в течение всего процесса медиации. К таким обстоятельствам относятся:</p>
            <ol class="mt-3 text-justify">
                <li>личные или деловые отношения медиатора с одной из сторон;</li>
                <li>финансовая или иная заинтересованность медиатора в результате медиации, прямая или косвенная;</li>
                <li>наличие факта сотрудничества медиатора или любого другого работника его же фирмы с одной из сторон в каком-либо качестве помимо медиации.</li>
            </ol>
            <p class="mt-3 text-justify mediationArticle">В этих обстоятельствах, по согласию сторон, медиатор может начать или продолжить медиацию в том случае, если он уверен в своей способности сохранять полную независимость и нейтральность для обеспечения абсолютной беспристрастности.</p>
            <p class="mt-3 text-justify mediationArticle">Медиатор всегда должен действовать беспристрастно, ставя перед собой в качестве приоритетной задачи - оказание равных услуг обеим сторонам во имя осуществления самой медиации.</p>
            <p class="mt-3 text-justify mediationArticle">Медиатор должен проводить медиацию нейтрально. Концепция беспристрастности медиатора – центрична в процессе медиации. Беспристрастность означает свободу от фаворитизма и беспристрастие.</p>
            <ol class="mt-3 text-justify">
                <li>Персональные характеристики, происхождения, ценности и верования или их проявления на медиации не должны делать медиатора предвзятым относительно личностей.</li>
                <li>Медиатор не должен дарить или принимать подарки, услуги или другие блага, получение которых вызывает сомнения в том, что медиатор не является беспристрастным.</li>
                <li>Медиатор должен проводить медиацию только в тех делах, где он способен оставаться нейтральным и объективным и проводить процедуру в интересах обеих сторон. В любой момент, если медиатор не в состоянии проводить процесс нейтрально, он должен прекратить медиацию.</li>
            </ol>
            <h5 class="h5 mt-2"><b>3. Конфликт интересов</b></h5>
            <p class="mt-3 text-justify mediationArticle">Медиатор должен сообщить сторонам обо всех известных ему имеющихся или потенциальных конфликтах интересов в этом деле.</p>
            <p class="mt-3 text-justify mediationArticle">Конфликт интересов – действия или отношения, которые могут создать впечатление возможной благосклонности медиатора к какой-либо из сторон. Потребность защищать стороны от конфликта интересов также касается поведения во время и после медиации.</p>
            <p class="mt-3 text-justify mediationArticle">Медиатор должен принимать все необходимые меры, чтобы гарантировать возникновение согласия сторон на основе полноценной и достоверной информации, и понимания условий соглашения. Медиатор может, с согласия сторон, в рамках своей компетентности, информировать стороны относительно того, как они могут оформить соглашение и сделать его выполнимым.</p>
            <ol class="mt-3 text-justify">
                <li>Базовый подход к вопросу о конфликте интересов соотносится с концепцией самоопределения. Медиатор обязан сообщить сторонам обо всех имеющихся или потенциальных конфликтах интересов, известных ему в этом деле.</li>
                <li>Это может касаться (в частности, но, не ограничиваясь этим):
                    <ul class="mainMenu">
                        <li><p>Такую информацию медиатор должен предоставить сторонам перед началом медиации, впрочем, у медиатора хранится обязанность сообщать сторонам такую информацию на протяжении процесса медиации, по мере ее возникновения.</p></li>
                        <li>После такого сообщения медиатор должен отказаться от продолжения процедуры медиации, кроме случаев, если все стороны договорятся оставить этого медиатора.
                            <ul>
                                <li>каких-нибудь личных или деловых отношений с одной из сторон;</li>
                                <li>какого-нибудь финансового или другого интереса, прямого или непрямого, относительно результата медиации;</li>
                                <li>случаев, когда медиатор (или сотрудник его/ее фирмы) действовал в роли, другой, чем медиатор, в интересах одной из сторон.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Если все стороны соглашаются продолжать процедуру медиации, будучи проинформированными, о таких конфликтах, медиатор может продолжать процедуру медиации.</li>
                <li>Впрочем, если конфликт интересов дает основания сомневаться в честности процесса, медиатор должен прекратить процесс медиации.</li>
                <li>Медиатор должен избегать ситуаций конфликта интересов, как во время, так и после медиации. Без согласования со всеми другими сторонами медиатор не должен устанавливать профессиональные отношения с одной из сторон в связи с процедурой медиации или безотносительно к этому делу при условиях, когда это может повлечь возникновение закономерного вопроса о честности процесса медиации.</li>
            </ol>
            <h5 class="h5 mt-2"><b>4. Компетенция</b></h5>
            <p class="mt-3 text-justify mediationArticle">Медиаторы должны быть компетентны и хорошо осведомлены о правилах проведения процедуры медиации. Это подразумевает надлежащее обучение, непрерывное обновление знаний и практики медиации в соответствии со стандартами и принципами их аккредитации.</p>
            <p class="mt-3 text-justify mediationArticle">Медиаторы должны быть компетентны и хорошо осведомлены о правилах проведения процедуры медиации. Это подразумевает надлежащее обучение, непрерывное обновление знаний и практики медиации в соответствии со стандартами и принципами их аккредитацииМедиатор согласовывает со сторонами подходящее время для проведения медиации. Прежде, чем назначить встречу медиатор обязан убедиться в собственной компетентности для проведения данной медиации, и, по требованию сторон, предоставить информацию относительно своего опыта и практики медиации.</p>
            <p class="mt-3 text-justify mediationArticle">Медиатор имеет право осуществлять процедуру медиации только в случае, если он имеет достаточную квалификацию, чтобы удовлетворить обоснованное ожидание сторон.</p>
            <ol class="mt-3 text-justify">
                <li>Какое-нибудь лицо может быть избрано медиатором при условии, что сторон устраивает квалификация медиатора. Однако учеба и опыт в медиации обычно является необходимым для эффективной медиации. Личность, предлагающая свои услуги как медиатора, дает повод сторонам и другим лицам (неопределенному кругу лиц) ожидать, что она имеет достаточный уровень знаний для эффективного проведения процедуры медиации. В случае досудебной или других форм обязательной медиации, обязательно (очень важно) чтобы медиатор, назначенный сторонам, имел необходимые знания и опыт.</li>
                <li>Медиатор должен иметь доступную для сторон информацию относительно тренингов, образования, опыта медиатора и подхода к проведению медиации.</li>
                <li>Если во время проведения медиации медиатор приходит к выводу о недостаточности собственной компетенции для продолжения медиации, он должен обсудить эту проблему со сторонами при первом же случае и принять необходимые меры чтобы, в частности, но, не ограничиваясь этим, прекратить медиацию или просить помощи у компетентной личности (медиатора).</li>
            </ol>
            <h5 class="h5 mt-2"><b>5. Конфиденциальность</b></h5>
            <p class="mt-3 text-justify mediationArticle">Медиатор должен соблюдать конфиденциальность в отношении всей информации, полученной в процессе медиации, включая и сам факт того, что медиация имела место или будет происходить. Исключениями считаются случаи, затрагивающие основы государственных интересов и требования законодательства. Любая информация, полученная медиатором от одной из сторон в рамках конфиденциальности, не будет раскрыта им другой стороне без разрешения первой, за исключением тех случаев, когда этого требует законодательство.</p>
            <p class="mt-3 text-justify mediationArticle">Медиатор должен защищать/учитывать/обосновывать разумные ожидания сторон относительно конфиденциальности.</p>
            <ol class="mt-3 text-justify">
                <li>Медиатор должен уважать обоснованные ожидания сторон относительно конфиденциальности процедуры медиации. Ожидания сторон относительно конфиденциальности зависят от обстоятельств дела медиации и соглашений, какие они могут заключить. Медиатор не может раскрывать/обнародовать какую-либо информацию, которую сторона считает конфиденциальной, кроме случаев, когда на то полученное согласие всех сторон или того требует закон.</li>
                <li>Медиатор не имеет права раскрывать другой стороне или другому лицу, информацию, полученную от стороны в ходе частной встречи, без согласия на то стороны, которая предоставила такую информацию.</li>
                <li>Медиатор также должен ставить в известность сторон необходимость хранить информацию, полученную в ходе медиации, в тайне, а также то, что стороны имеют право выработать собственные правила относительно конфиденциальности.</li>
            </ol>
            <h5 class="h5 mt-2"><b>6. Качество процесса</b></h5>
            <p class="mt-3 text-justify mediationArticle">Медиатор должен убедиться, что стороны понимают особенности процесса медиации, а также роль медиатора и самих сторон в этом процессе.</p>
            <p class="mt-3 text-justify mediationArticle">Медиатор должен принять все необходимые меры, чтобы еще до начала медиации стороны поняли все положения и условия соглашения о медиации, включая в особенности какие бы то ни было дополнительные условия в отношении обязательств медиатора и сторон касательно конфиденциальности.</p>
            <p class="mt-3 text-justify mediationArticle">Медиатор должен надлежащим образом проводить процедуру медиации, принимая во внимание различные обстоятельства дела, включая возможный дисбаланс сил и нормы права, а также брать в расчет любые пожелания сторон и необходимость быстрого урегулирования спора.</p>
            <p class="mt-3 text-justify mediationArticle">Стороны должны выразить добровольное согласие с медиатором в отношении правил и способов, которыми будет проводиться медиация.</p>
            <p class="mt-3 text-justify mediationArticle">Медиатор является гарантом того, что стороны, вовлеченные в процесс, имеют равные возможности.</p>
            <p class="mt-3 text-justify mediationArticle">Медиатор может прекратить медиацию и сообщить сторонам, если сочтет это уместным, в случае, если:</p>
            <ol class="mt-3 text-justify">
                <li>готовящееся соглашение, по мнению самого медиатора, в соответствии с обстоятельствами дела и его компетентностью, не будет иметь законной силы или окажется незаконным;</li>
                <li>медиатор сочтет, что продолжение медиации вряд ли приведет к урегулированию.</li>
            </ol>
            <p class="mt-3 text-justify mediationArticle">Медиатор должен проводить медиацию честно и старательно, что отвечает принципу самоопределения сторон.</p>
            <ol class="mt-3 text-justify">
                <li>Медиатор должен работать над тем, чтобы обеспечить качество процесса и способствовать взаимоуважению сторон. Качественный процесс требует соблюдения медиатором старательности и процедурной честности. Каждой стороне должны быть обеспечены достаточные возможности принимать участие в дискуссии. Сами стороны решают, при каких условиях они будут достигать согласия/заключать соглашение или прекращать медиацию.</li>
                <li>Медиатор должен способствовать честности и искренности сторон в ходе медиации и не может преднамеренно искажать какие-нибудь факты или условия в ходе медиации.</li>
            </ol>
            <h5 class="h5 mt-2"><b>7. Рекламирование и призывы</b></h5>
            <p class="mt-3 text-justify mediationArticle">Медиаторы вправе рекламировать и продвигать свои услуги профессиональным, правдивым и достойным образом.</p>
            <p class="mt-3 text-justify mediationArticle">Медиатор должен быть честным в рекламировании услуг медиации.</p>
            <ol class="mt-3 text-justify">
                <li>Реклама или другое публичное общение медиатора относительно предлагаемой услуги или относительно образования, тренингов или экспертизы должны быть честными (правдивыми).</li>
                <li>Медиатор должен воздерживаться от обещаний и гарантий.</li>
                <li>Для рекламы своих услуг медиатор не может использовать имена собственных клиентов, без их согласия.</li>
            </ol>
            <h5 class="h5 mt-2"><b>8. Вознаграждение</b></h5>
            <p class="mt-3 text-justify mediationArticle">Медиатор или его представитель имеет все основания проинформировать стороны о расходах (включая компенсации, сборах и тому подобное), связанных с проведением медиации.</p>
            <ol class="mt-3 text-justify">
                <li>Стороны должны получить достаточно информации о расходах и сборах, а также об имеющихся или потенциальных оплатах в начале процедуры медиации чтобы определить, желают ли они все еще воспользоваться услугами медиатора.</li>
                <li>Если медиатор повышает расходы после начала медиации, такие расходы должны быть резонными, считаясь в частности с видом и сложностью дела, предыдущей экспертизой спора, необходимый для завершения медиации время. Наикратчайшим путем достижения понимания в вопросе расходов является определение всех условий относительно компенсаций, собраний и расходов сторон, а также порядка изменения предварительных условий относительно компенсаций, собраний и расходов сторон в письменном соглашении.</li>
                <li>Получение медиатором не одинаковой по размеру оплаты от каждой из сторон не должно влиять на его нейтральность в проведении процесса.</li>
            </ol>
            <p class="mt-3 text-justify mediationArticle">Медиатор должен всякий раз предоставлять сторонам полную информацию относительно способа вознаграждения, который он планирует применить.</p>
            <p class="mt-3 text-justify mediationArticle">Медиатор не должен соглашаться на медиацию прежде, чем способ его вознаграждения не будет принят всеми заинтересованными сторонами.</p>
            <h5 class="h5 mt-2"><b>9. Обязательства относительно процесса медиации</b></h5>
            <p class="mt-3 text-justify mediationArticle">Медиатор должен постоянно совершенствовать свою практику медиации. Медиатор должен содействовать способам, развития практики медиации. Медиатор должен демонстрировать уважение к различным точкам зрения в отрасли, учиться у своих коллег-медиаторов и сотрудничать с другими медиаторами ради развития профессии и лучшего служения людям в решении конфликтов.</p>
            <p class="mt-3 text-justify mediationArticle">При проведении процедуры медиации медиатор обязан честно, разумно, добросовестно, квалифицированно, принципиально и своевременно исполнять свои обязанности, уважать права, честь и достоинство лиц, обратившихся за урегулированием спора с помощью процедуры медиации, придерживаться манеры поведения и стиля одежды, соответствующих деловому общению.</p>
        </div>
    </div>
</div>