<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="h1"><b>Реестр медиаторов</b></h1>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td><b>Пак Александр Борисович - профессиональный медиатор, тренер по медиации, директор ЧУ «Институт разрешения конфликтов и медиации»</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, город Караганда, пр. Бухар-жырау 55 офис 211</td>
                    </tr>
                    <tr>
                        <td>Тел.: +7 702 201 5113, <a href="mailto:institut.mediacii@mail.ru" class="text-success">institut.mediacii@mail.ru</a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: гражданские, семейные, корпоративные, трудовые, уголовные, административные и другие споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № 12 от 30.11.2017г. ЧУ «ЦКЦМ» г. Караганда</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Әлімбет Еркебұлан Әленұлы - профессиональный медиатор, тренер по медиации ЧУ «Институт разрешения конфликтов и медиации»</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, город Караганда, пр. Бухар-жырау 55 офис 211</td>
                    </tr>
                    <tr>
                        <td>Тел.: +7 776 526 72 53, <a href="mailto:institut.mediacii@mail.ru" class="text-success">institut.mediacii@mail.ru</a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: гражданские, семейные, корпоративные, трудовые, уголовные, административные и другие споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: казахский, русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 171225001 от 25.12.2017г. ЧУ «ИРКМ»</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Глухова Анна Васильевна – профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, город Караганда, пр. Бухар-жырау 55 офис 211</td>
                    </tr>
                    <tr>
                        <td>Тел.: +7 701 070 99 07, <a href="mailto:gluhova_anya@mail.ru" class="text-success">gluhova_anya@mail.ru</a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: семейные, гражданские споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 270218001 ЧУ «ИРКМ» от 27.02.2018г.</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Омаров Азамат Кылышбекович – профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, город Караганда, пр. Бухар-жырау 55 офис 211</td>
                    </tr>
                    <tr>
                        <td>Тел.: +7 700 145 74 58, <a href="mailto:azamat2302ok@mail.ru" class="text-success">azamat2302ok@mail.ru</a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: уголовные, гражданские, трудовые споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: казахский, русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 270218002 ЧУ «ИРКМ» от 27.02.2018г.</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Мусин Данияр Болатович – специалист по медиации</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, город Караганда, пр. Бухар-жырау 55 офис 211</td>
                    </tr>
                    <tr>
                        <td>Тел.: +7 701 759 20 14, <a href="mailto:kanjigal@icloud.com" class="text-success">kanjigal@icloud.com</a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: семейные, трудовые, гражданские споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 270218003 ЧУ «ИРКМ» от 27.02.2018г.</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Михайлов Максим Геннадьевич – специалист по медиации</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, город Караганда, пр. Бухар-жырау 55 офис 211</td>
                    </tr>
                    <tr>
                        <td>Тел.: +7 708 352 73 79, <a href="mailto:muslim87092535@gmail.com" class="text-success">muslim87092535@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: семейные, гражданские споры, споры, связанные с ДТП</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: русский</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Тусупбекова Оксана Николаевна - специалист по медиации</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, город Караганда, пр. Бухар-жырау 55 офис 211</td>
                    </tr>
                    <tr>
                        <td>Тел.: +7 775 106 38 29</td>
                    </tr>
                    <tr>
                        <td>Область медиации: семейные, трудовые, гражданские, корпоративные споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 120318003 ЧУ «ИРКМ» от 12.03.2018г.</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Алимбетов Самат Бимаганбетович – профессиональный медиатор (г.Жезказган)</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, город Караганда, пр. Бухар-жырау 55 офис 211</td>
                    </tr>
                    <tr>
                        <td>Тел.: +7 777 130 03 70</td>
                    </tr>
                    <tr>
                        <td>Область медиации: семейные, гражданские споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: казахский, русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 060418001 ЧУ «ИРКМ» от 06.04.2018г.</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Булгаков Александр Борисович - профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, город Караганда, пр. Бухар-жырау 55 офис 211</td>
                    </tr>
                    <tr>
                        <td>Тел.: +7 701 312 46 29</td>
                    </tr>
                    <tr>
                        <td>Область медиации: гражданские, уголовные споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: русский</td>
                    </tr>
                    <tr>
                        <td>Cертификат № КЗ 060418002 ЧУ «ИРКМ» от 06.04.2018г.</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Горшкова Елена Викторовна - профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, город Караганда, пр. Бухар-жырау 55 офис 211</td>
                    </tr>
                    <tr>
                        <td>Тел.: +7 700 533 06 96</td>
                    </tr>
                    <tr>
                        <td>Область медиации: семейные, гражданские, уголовные споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 120318005 ЧУ «ИРКМ» от 12.03.2018г.</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Турлыгазиева Айнур Сагынышовна - профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, г.Астана</td>
                    </tr>
                    <tr>
                        <td>Тел.: +7 702 261 46 26, <a href="mailto:ainurojka@mail.ru" class="text-success">ainurojka@mail.ru</a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: гражданские, семейные, уголовные споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: казахский, русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 020518007 от 02.05.2018г. ЧУ «ИРКМ»</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Алексеев Алексей Юрьевич - профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, г. Караганда, пр. Бухар-жырау, 55 оф.211</td>
                    </tr>
                    <tr>
                        <td>Тел.: +7 705 952 63 11, <a href="mailto:qwertasrew@mail.ru" class="text-success">qwertasrew@mail.ru</a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: гражданские, семейные, корпоративные, трудовые, уголовные, административные и другие споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 120318001 от 12.03.2018г. ЧУ «ИРКМ»</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Кочнева Евгения Викторовна – профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, г. Караганда, пр. Бухар-жырау, 55 оф.211</td>
                    </tr>
                    <tr>
                        <td>Тел.: +7 775 297 96 46</td>
                    </tr>
                    <tr>
                        <td>Область медиации: семейные, гражданские споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 120318002 ЧУ «ИРКМ» от 12.03.2018г.</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Жуматаев Данияр Серикович – профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, г. Караганда, пр. Бухар-жырау, 55 оф.211</td>
                    </tr>
                    <tr>
                        <td>Тел.: +7 708 353 34 02, <a href="mailto:danik_karaganda@list.ru" class="text-success">danik_karaganda@list.ru</a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: семейные, трудовые, гражданские, корпоративные споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: казахский, русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 120318006 ЧУ «ИРКМ» от 12.03.2018г.</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Бейсенбекова Гульшара Калиевна - профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, г. Астана</td>
                    </tr>
                    <tr>
                        <td>Тел.: +7 701 794 97 78, +7 777 283 01 11, <a href="mailto:gbeisenbekova@mail.ru" class="text-success">gbeisenbekova@mail.ru</a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: споры в области медицины и здравоохранения</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: казахский, русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 020518001 от 02.05.2018г. ЧУ «ИРКМ»</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Жунусов Данияр Кулукенович - профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, г. Астана</td>
                    </tr>
                    <tr>
                        <td>Тел.: +7 702 155 88 74, <a href="mailto:aralbai.79@mail.ru" class="text-success">aralbai.79@mail.ru</a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: гражданские, семейные, корпоративные, трудовые, уголовные споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 060418003 от 06.04.2018г. ЧУ «ИРКМ»</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Есембаев Бохадиржан Азымжанович - специалист по медиации</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, г. Караганда, пр. Бухар-жырау, 55 оф.211</td>
                    </tr>
                    <tr>
                        <td>Тел.: +7 707 122 50 09, <a href="mailto:bosik_1992@mail.ru" class="text-success">bosik_1992@mail.ru</a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: гражданские, семейные, уголовные споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 060418004 от 06.04.2018г. ЧУ «ИРКМ»</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Миронова Светлана Алексеевна - профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, город Караганда, 19 мкрн., д.40 а</td>
                    </tr>
                    <tr>
                        <td>Тел.:+7 700 118 65 53</td>
                    </tr>
                    <tr>
                        <td>Область медиации: гражданские, семейные, корпоративные, трудовые, уголовные споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 050618002 от 05.06.2018г. ЧУ «ИРКМ»</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Собольков Алексей Васильевич - профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, г. Караганда, пр. Бухар-жырау, 55 оф. 211</td>
                    </tr>
                    <tr>
                        <td>Тел.: +7 775 715 85 71</td>
                    </tr>
                    <tr>
                        <td>Область медиации: гражданские, семейные, корпоративные, трудовые, уголовные споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 050618003 от 05.06.2018г. ЧУ «ИРКМ»</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Тусупбекова Гульфия Советбековна - профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, город Караганда, ул.Ленина, дом 28</td>
                    </tr>
                    <tr>
                        <td>Тел.:+7(7212)56 10 16, +7 701 729 28 66, <a href="mailto:gulphiya.kz@mail.ru" class="text-success">gulphiya.kz@mail.ru</a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: гражданские, семейные</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 050618004 от 05.06.2018г. ЧУ «ИРКМ»</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Шоманова Назира Тоқтыбайқызы - профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, г. Караганда, 19 мкрн., д.40 а</td>
                    </tr>
                    <tr>
                        <td>Тел.:+7 747 434 61 55, <a href="mailto:alibek-2013-10@mail.ru" class="text-success">alibek-2013-10@mail.ru</a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: гражданские, семейные, корпоративные, трудовые, уголовные споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: казахский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 050618005 от 05.06.2018г. ЧУ «ИРКМ»</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Рымбеков Айдын Рымбекулы - профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, г. Караганда, пр. Бухар-жырау, 55 оф.211</td>
                    </tr>
                    <tr>
                        <td>Тел.:+7 775 610 95 54</td>
                    </tr>
                    <tr>
                        <td>Область медиации: гражданские, семейные, корпоративные, трудовые, уголовные споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: казахский, русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 020518006 от 02.05.2018г. ЧУ «ИРКМ»</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Миянов Файзирахман Абдурахманович - профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, г. Караганда, пр. Бухар-жырау, 55 оф.211</td>
                    </tr>
                    <tr>
                        <td>Тел.:+7 775 933 31 11, <a href="mailto:faizirakhman_m@mail.ru" class="text-success">faizirakhman_m@mail.ru</a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: гражданские, семейные, корпоративные, трудовые, уголовные споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: казахский, русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 020518005 от 02.05.2018г. ЧУ «ИРКМ»</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Вовк Ольга Владимировна  - профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, г. Шахтинск</td>
                    </tr>
                    <tr>
                        <td>Тел.:+7-778-639-30-07, <a href="mailto:denks_olya@mail.ru" class="text-success">denks_olya@mail.ru</a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: гражданские, семейные, корпоративные, трудовые, уголовные споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 290818001 от 29.08.2018г. ЧУ «ИРКМ»</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Баядилов Аслан  Кенжегулович   - профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, г. Караганда, пр. Бухар-жырау, 55 оф.211</td>
                    </tr>
                    <tr>
                        <td>Тел.:+7-702-227-10-34, <a href="mailto:aslan.kb@gmail.com" class="text-success">aslan.kb@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: гражданские, семейные, корпоративные, трудовые, уголовные споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: казахский, русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 050618001 от 05.06.2018г. ЧУ «ИРКМ»</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Охочинская Резеда Фагимовна  - специалист по медиации</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, г. Шахтинск</td>
                    </tr>
                    <tr>
                        <td>Тел.:+7-778-407-07-18, <a href="mailto:ms.rezida72@mail.ru" class="text-success">ms.rezida72@mail.ru </a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: гражданские, семейные споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 290818003от 29.08.2018г. ЧУ «ИРКМ»</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Пристайко Нина Борисовна - профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, г. Шахтинск</td>
                    </tr>
                    <tr>
                        <td>Тел.:+7-701-288-19-03, +7-708-288-19-03, <a href="mailto:nina.pristaiko@mail.ru" class="text-success">nina.pristaiko@mail.ru </a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: гражданские, семейные, трудовые, уголовные споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 290818002 от 29.08.2018г. ЧУ «ИРКМ»</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <td><b>Сагеденова Батес Сайынкызы - профессиональный медиатор</b></td>
                    </tr>
                    <tr>
                        <td>Республика Казахстан, г. Алматы</td>
                    </tr>
                    <tr>
                        <td>Тел.:+7-701 999 49 29, <a href="mailto:sbates@yandex.ru" class="text-success">sbates@yandex.ru </a></td>
                    </tr>
                    <tr>
                        <td>Область медиации: гражданские, семейные, корпоративные, трудовые, банковские, уголовные споры</td>
                    </tr>
                    <tr>
                        <td>Язык медиации: русский</td>
                    </tr>
                    <tr>
                        <td>Сертификат № КЗ 081118001 от 08.11.2018г.  ЧУ «ИРКМ»</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>