<div class="container">
        <h1 class="h1 mb-4 text-center text-md-left"><b>Вопрос-ответ</b></h1>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="heading1">
                    <h5 class="mb-0">
                        <a class="card-link text-success" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                            Что такое медиация?
                        </a>
                    </h5>
                </div>

                <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
                    <div class="card-body">
                        Медиация – это процедура урегулирования спора (конфликта) между сторонами при содействии медиатора (медиаторов) в целях достижения ими взаимоприемлемого решения, реализуемая по добровольному согласию сторон.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading2">
                    <h5 class="mb-0">
                        <a class="collapsed card-link text-success" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            На каких принципах строится медиация?
                        </a>
                    </h5>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                    <div class="card-body">
                        <ol class="text-justify">
                            <li>добровольности;</li>
                            <li>равноправия сторон медиации;</li>
                            <li>независимости и беспристрастности медиатора;</li>
                            <li>недопустимости вмешательства в процедуру медиации;</li>
                            <li>конфиденциальности.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading3">
                    <h5 class="mb-0">
                        <a class="collapsed card-link text-success" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            Каковы сферы применения медиации?
                        </a>
                    </h5>
                </div>
                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                    <div class="card-body">
                        <ol class="text-justify">
                            <li>Семейные споры;</li>
                            <li>Трудовые споры;</li>
                            <li>Коммерческие споры;</li>
                            <li>Меж- и внутрикорпоративные споры;</li>
                            <li>Споры в банковской и страховой сфере;</li>
                            <li>Сопровождение проектов, реализация которых затрагивает множество сторон;</li>
                            <li>Споры, связанные с авторским правом и интеллектуальной собственностью;</li>
                            <li>Медиация в системе образования;</li>
                            <li>Межкультурные, межрелигиозные, межнациональные конфликты;</li>
                            <li>Иные гражданско-правовые споры;</li>
                            <li>Уголовно-правовые (до тяжких преступлений).</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading4">
                    <h5 class="mb-0">
                        <a class="collapsed card-link text-success" data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            Какие требования предъявляются к медиаторам в Казахстане?
                        </a>
                    </h5>
                </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                    <div class="card-body">
                        Медиатором может быть независимое, беспристрастное, не заинтересованное в исходе дела физическое лицо, выбранное по взаимному согласию сторон медиации, включенное в реестр медиаторов и давшее согласие на выполнение функции медиатора. Деятельность медиатора может осуществляться как на профессиональной основе (профессиональный медиатор), так и на непрофессиональной основе.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading5">
                    <h5 class="mb-0">
                        <a class="collapsed card-link text-success" data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            Является ли деятельность медиатора предпринимательской?
                        </a>
                    </h5>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                    <div class="card-body">
                        Нет, не является (п.5 ст.9 ЗРК «О медиации»)
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading6">
                    <h5 class="mb-0">
                        <a class="collapsed card-link text-success" data-toggle="collapse" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                            Кем определяется размер вознаграждения профессионального медиатора (ов)?
                        </a>
                    </h5>
                </div>
                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
                    <div class="card-body">
                        Размер вознаграждения профессионального медиатора (медиаторов) определяется по соглашению сторон с медиатором (медиаторами) до начала медиации.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading7">
                    <h5 class="mb-0">
                        <a class="collapsed card-link text-success" data-toggle="collapse" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                            Каким документом оформляется соглашение сторон об урегулировании спора?
                        </a>
                    </h5>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
                    <div class="card-body">
                        Медиативным соглашением – соглашением об урегулировании спора в порядке медиации, представляющее собой сделку, направленную на установление, изменение или прекращение гражданских прав и обязанностей сторон.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading8">
                <h5 class="mb-0">
                    <a class="collapsed card-link text-success" data-toggle="collapse" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                        Что делает профессиональный медиатор?
                    </a>
                </h5>
                </div>
                <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
                    <div class="card-body">
                        <ol class="text-justify">
                            <li>Создает комфортную, доверительную обстановку;</li>
                            <li>Остается нейтральным, беспристрастным и непредвзятым на протяжении всего процесса переговоров;</li>
                            <li>Поддерживает стороны в высказывании своих точек зрения и видении существа дела;</li>
                            <li>обеспечивает равное участие и возможности сторон в процедуре медиации;</li>
                            <li>Содействует сторонам в поиске креативных решений по спору;</li>
                            <li>Помогает сторонам в формулировании окончательных договоренностей</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading9">
                    <h5 class="mb-0">
                        <a class="collapsed card-link text-success" data-toggle="collapse" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                            По каким причинам люди обращаются к медиации (медиатору)?
                        </a>
                    </h5>
                </div>
                <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
                    <div class="card-body">
                        <ol class="text-justify">
                            <li>Медиация – это возможность быстро найти выход из конфликта, не потеряв лицо;</li>
                            <li>Медиация – это возможность влиять на решение значимых вопросов и держать собственную судьбу в своих руках;</li>
                            <li>Медиация - это возможность установить мир и построить основу для долгосрочного сотрудничества;</li>
                            <li>Медиация – это возможность извлекать пользу из сложных ситуаций и учиться на ошибках, приобретая неоценимый жизненный опыт.</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading10">
                    <h5 class="mb-0">
                        <a class="collapsed card-link text-success" data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                            Какие задачи выполняет профессиональный медиатор?
                        </a>
                    </h5>
                </div>
                <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
                    <div class="card-body">
                        <ol class="text-justify">
                            <li>Помогает сторонам, вовлеченным в спор, осознать силу их собственного влияния на ситуацию и перспективы ее развития в процедуре медиации</li></li>
                            <li>Помогает сторонам осознать собственные интересы, являющиеся движущими силами конфликта;</li>
                            <li>Помогает сторонам в понимании интересов друг друга;</li>
                            <li>Создает условия для выявления истинных причин конфликта (что необходимо для выработки жизнеспособного реалистичного решения)‏;</li>
                            <li>Поддерживать стороны в выработке взаимоудовлетворяющего, жизнеспособного, реалистичного и исполняемого решения.</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading11">
                    <h5 class="mb-0">
                        <a class="collapsed card-link text-success" data-toggle="collapse" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
                            Что НЕ делает профессиональный медиатор?
                        </a>
                    </h5>
                </div>
                <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion">
                    <div class="card-body">
                        <ol class="text-justify">
                            <li>НЕ выносит решения по спору;</li>
                            <li>НЕ выясняет, кто прав, кто виноват;</li>
                            <li>НЕ оказывает давления на участников конфликта;</li>
                            <li>НЕ навязывает сторонам своего мнения по поводу путей разрешения конфликта;</li>
                            <li>НЕ раскрывает информацию, полученную во время процедуры медиации;</li>
                            <li>НЕ оказывает сторонам психологическую помощь</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="heading12">
                    <h5 class="mb-0">
                        <a class="collapsed card-link text-success" data-toggle="collapse" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
                            В чем преимущества медиации?
                        </a>
                    </h5>
                </div>
                <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion">
                    <div class="card-body">
                        <ol class="text-justify">
                            <li><b>ЭФФЕКТИВНОСТЬ:</b> договоренности, достигнутые сторонами в процессе проведения примирительных процедур, исполняются гораздо чаще, чем судебные решения;</li>
                            <li><b>НЕДОРОГО:</b> использование медиации не влечет необходимость несения судебных расходов; в случае заключения сторонами соглашения об урегулировании конфликта уплаченная госпошлина подлежит возврату плательщику в порядке, предусмотренном налоговым законодательством.</li>
                            <li><b>БЫСТРОТА:</b> при желании можно урегулировать спор буквально за считанные часы (или минуты);</li>
                            <li><b>СОХРАНЕНИЕ ДЕЛОВЫХ СВЯЗЕЙ:</b> в случае урегулирования конфликта путем медиации деловые отношения сторон не только сохранятся, но и станут еще крепче.</li>
                            <li><b>ЗАЩИТА «СЛАБОЙ» СТОРОНЫ,</b> которая не всегда имеет возможность привлечь для защиты своих интересов высококвалифицированных юристов.</li>
                            <li><b>ВСЕ В РУКАХ СТОРОН:</b> используя примирительные процедуры, стороны самостоятельно приходят к устраивающему их результату примирения, в отличие от судебного разбирательства, где решение принимается судом.</li>
                            <li><b>КОНФИДЕНЦИАЛЬНОСТЬ:</b> примирительные процедуры характеризуются отсутствием публичности, что позволяет избежать разглашения конфиденциальной информации.</li>
                            <li><b>ОРИЕНТАЦИЯ НА ИНТЕРЕСЫ СТОРОН:</b> использование примирительных процедур позволяет удовлетворить действительные интересы сторон.</li>
                            <li><b>ВЫБОР ПОСРЕДНИКА (МЕДИАТОРА):</b> при использовании примирительных процедур стороны вправе самостоятельно выбрать лицо, содействующее урегулированию спора, что вызывает доверие сторон к такому лицу и укрепляет авторитет результата примирения.</li>
                            <li><b>КОМФОРТ, ДОВЕРИЕ И СОТРУДНИЧЕСТВО:</b> отсутствие необходимых элементов процессуальной формы и судебной атрибутики создает психологический комфорт для участников спора, атмосферу доверия и сотрудничества.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
</div>