<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="h1"><b>Научная деятельность</b></h1>
            <p class="mt-3 text-justify mediationArticle">Одной из основополагающих целей деятельности ЧУ Институт разрешения конфликтов и медиации является проведение научных исследований в области альтернативного разрешения споров (конфликтов) и медиации, научно-практическое сотрудничество по распространению, расширению примирительных процедур с использованием медиации с аналогичными центрами, создание фундамента для обсуждения проблем альтернативного разрешения споров и медиации сообществами медиаторов, представителями дисциплин, исследующих проблемы конфликтов и способов их урегулирования. Ожидаемым результатом этой деятельности является снижение конфликтности в обществе и государстве.</p>
            <p class="mt-3 text-justify mediationArticle">Исходя из поставленной цели, Институтом определены следующие конкретные приоритетные задачи:</p>
            <ul class="mt-3 text-justify">
                <li>Организация выполнения научных исследований согласно Плану НИР на 2018—2021 гг;</li>
                <li>Обеспечение деятельности научного центра Института, содействие внедрению результатов исследований в законотворческий и образовательный процессы;</li>
                <li>Взаимодействие с государственными органами в области научно-практических исследований в области медиации.</li>
            </ul>
        </div>
    </div>
</div>